*{
    margin: 0;
    padding: 0; 
}
body{
    background-color: rgb(176,176,176);
}
form{
    margin: 30px;
    font-size: 20px;
}
input{
    width: 500px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
ul{
    background-color: rgb(92,92,92);
    height: 40px;
    width: 90%;
    line-height: 40px;
    margin: auto;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
li{
    display: inline-block;
    margin: 0 10px;
    border-left: 1px solid black;
    padding-left: 17px;
}
a{
     text-decoration: none;
     color: #808080;
}
a:hover{
    color: orangered;
}
main{
    background-color: aliceblue;
    width: 85%;
    margin: auto;
    margin-top: 60px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: gray;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
img{
    width: 20%;
    display: inline-block;
    border-radius: 10px;
}
pre{
    display: inline-block;
}
video{
    width: 70%;
    display: block;
    margin: 30px auto;
    border-radius: 10px;
}